<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/reminders">Reminder List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!--to add if statement-->
     
      <% if ( locals.path == '/reminder/new'){ %>
        <a class="nav-item nav-link" href="/reminders" >Reminder List</a>
        <a class="nav-item nav-link" href="/reminder/new" style="color: black">Create</a>
        <a class="nav-item nav-link" href="/friends" >Add Friends</a>
        <a class="nav-item nav-link" href="/weather" >Weather</a>

    <% } else if (locals.path == '/login') { %>

    <% } else if (locals.path == '/register') { %>  

    <% } else if (locals.path == '/friends') { %> 
    
      <a class="nav-item nav-link" href="/reminders" >Reminder List</a>
      <a class="nav-item nav-link" href="/reminder/new">Create</a>
      <a class="nav-item nav-link" href="/friends" style="color: black">Add Friends</a>
      <a class="nav-item nav-link" href="/weather" >Weather</a>

    <% } else if (locals.path == '/weather') { %>
      <!-- won't make the weather link black for some reason -->
    
      <a class="nav-item nav-link" href="/reminders" >Reminder List</a>
      <a class="nav-item nav-link" href="/reminder/new">Create</a>
      <a class="nav-item nav-link" href="/friends">Add Friends</a>
      <a class="nav-item nav-link" href="/weather" style="color: black">Weather</a>
       
    <% } else { %>
      <a class="nav-item nav-link" href="/reminders" style="color: black">Reminder List</a>
      <a class="nav-item nav-link" href="/reminder/new">Create</a>
      <a class="nav-item nav-link" href="/friends" >Add Friends</a>
      <a class="nav-item nav-link" href="/weather" >Weather</a>
    <% } %>
    </div>
  </div>
</nav>