

<div class="container">
  <h1>Friends List</h1>
  <ul class="list-group">
    <% for (const [key, value] of Object.entries(Database)) { %>
      <% if (Database[key] != locals.user) { %>
      <li class="list-group-item">
          <img class="img-fluid img-thumbnail" src= <%= Database[key].img %> alt="">  
          <a class="btn btn-primary btn-sm" href= <%= "/friends/" + Database[key].reminders %>>Add Friend</a>
      <!-- <button type="button" class="btn btn-primary btn-sm">Add Friend</button>  -->
      </li>
      <% } %>
    <% } %>
  </ul>
</div>
